<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression" data-provider-thread-count="3">
    <test name="Search" parallel = "methods">
        <classes>
            <class name="runners.TestSerialRunner"></class>
            <class name="runners.TestParallelRunner"></class>
        </classes>
    </test>
</suite>